body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  margin: 0;
}
header {
  background-color: #fbbb12;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cg fill='%23faaf15'%3E%3Cpolygon points='1000%2C-50 0%2C-50 500%2C450'/%3E%3Cpolygon points='550%2C500 1050%2C1000 1050%2C0'/%3E%3Cpolygon points='-50%2C0 -50%2C1000 450%2C500'/%3E%3Cpolygon points='0%2C1050 1000%2C1050 500%2C550'/%3E%3C/g%3E%3Cg fill='%23f9a318'%3E%3Cpolygon points='1000%2C-133.3 0%2C-133.3 500%2C366.7'/%3E%3Cpolygon points='633.3%2C500 1133.3%2C1000 1133.3%2C0'/%3E%3Cpolygon points='-133.3%2C0 -133.3%2C1000 366.7%2C500'/%3E%3Cpolygon points='0%2C1133.3 1000%2C1133.3 500%2C633.3'/%3E%3C/g%3E%3Cg fill='%23f7961b'%3E%3Cpolygon points='1000%2C-216.7 0%2C-216.7 500%2C283.3'/%3E%3Cpolygon points='716.7%2C500 1216.7%2C1000 1216.7%2C0'/%3E%3Cpolygon points='-216.7%2C0 -216.7%2C1000 283.3%2C500'/%3E%3Cpolygon points='0%2C1216.7 1000%2C1216.7 500%2C716.7'/%3E%3C/g%3E%3Cg fill='%23f68a1e'%3E%3Cpolygon points='1000%2C-300 0%2C-300 500%2C200'/%3E%3Cpolygon points='800%2C500 1300%2C1000 1300%2C0'/%3E%3Cpolygon points='-300%2C0 -300%2C1000 200%2C500'/%3E%3Cpolygon points='0%2C1300 1000%2C1300 500%2C800'/%3E%3C/g%3E%3Cg fill-opacity='0'%3E%3Cpolygon fill='%23df9210' points='0%2C707.1 0%2C292.9 292.9%2C0 707.1%2C0 1000%2C292.9 1000%2C707.1 707.1%2C1000 292.9%2C1000'/%3E%3Cg fill='%23e59014'%3E%3Cpolygon points='464.6%2C-242.5 -242.5%2C464.6 464.6%2C464.6'/%3E%3Cpolygon points='535.4%2C464.6 1242.5%2C464.6 535.4%2C-242.5'/%3E%3Cpolygon points='-242.5%2C535.4 464.6%2C1242.5 464.6%2C535.4'/%3E%3Cpolygon points='535.4%2C1242.5 1242.5%2C535.4 535.4%2C535.4'/%3E%3C/g%3E%3Cg fill='%23eb8e17'%3E%3Cpolygon points='405.7%2C-301.4 -301.4%2C405.7 405.7%2C405.7'/%3E%3Cpolygon points='594.3%2C405.7 1301.4%2C405.7 594.3%2C-301.4'/%3E%3Cpolygon points='-301.4%2C594.3 405.7%2C1301.4 405.7%2C594.3'/%3E%3Cpolygon points='594.3%2C1301.4 1301.4%2C594.3 594.3%2C594.3'/%3E%3C/g%3E%3Cg fill='%23f08c1b'%3E%3Cpolygon points='346.8%2C-360.3 -360.3%2C346.8 346.8%2C346.8'/%3E%3Cpolygon points='653.2%2C346.8 1360.3%2C346.8 653.2%2C-360.3'/%3E%3Cpolygon points='-360.3%2C653.2 346.8%2C1360.3 346.8%2C653.2'/%3E%3Cpolygon points='653.2%2C1360.3 1360.3%2C653.2 653.2%2C653.2'/%3E%3C/g%3E%3Cg fill='%23f68a1e'%3E%3Cpolygon points='287.9%2C-419.2 -419.2%2C287.9 287.9%2C287.9'/%3E%3Cpolygon points='712.1%2C287.9 1419.2%2C287.9 712.1%2C-419.2'/%3E%3Cpolygon points='-419.2%2C712.1 287.9%2C1419.2 287.9%2C712.1'/%3E%3Cpolygon points='712.1%2C1419.2 1419.2%2C712.1 712.1%2C712.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.hero a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    position: relative;
    text-decoration: none;
}
.hero a:before, .hero a:after{
    content: '';
    position: absolute;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
  }
.hero a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.hero_container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.hero_navbar {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify !important;
          justify-content: space-between !important;
  padding: .9375rem 1rem;
  letter-spacing: 1px;
}
.navbar-expand {
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}
.hero_navbar_menu {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.hero_navbar_logo {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: .875rem;
  font-weight: 900;
  line-height: 22px;
  white-space: nowrap;
}
.hero_navbar li:not(:last-child) {margin-right: 2rem;}
.hero_navbar_menu-link {
  padding: .5rem 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: capitalize;
}
.hero_navbar_menu-link::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
}
.hero_navbar_menu-link:hover::before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
.hero_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_section h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  color: #fff;
}
.hero_row {
  display: flex;
  flex-wrap: wrap;
}
.hero_column {
  position: relative;
  width: 100%;
  min-height: 1px;
}
.hero_select {
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  -webkit-transform: rotateZ(0);
  transform: rotateZ(0);
  min-width: 14em;
  min-height: 2.71428571em;
  display: inline-block;
  padding: .5rem 1.75rem;
  color: rgba(0,0,0,.87);
  box-shadow: none;
  border-radius: .28571429rem;
  -webkit-transition: box-shadow .1s ease,width .1s ease;
  transition: box-shadow .1s ease,width .1s ease;
  background: #FFF;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.35);
}
main {
  position: relative;
  top: -3rem;
}
.hero_info .hero_column {
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.35);
}
.hero_info_card {
  background-color: #fff;
  padding: 30px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
#zestar.hero_column{
  box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.35);
  z-index: 10;
}
#zestar.hero_column .hero_info_card {
  position: relative;
  top: -3rem;
}
.hero_info_card .icon {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 10px auto;
  position: relative;
  border: 1px solid #fff;
  background-color: #de7c1b;
  top: -3em;
  border-radius: 50%;
}
.hero_button  {
  border-radius: 4px;
  padding: .5rem 1.75rem;
  background: linear-gradient(90deg, #de7c1b 0%, #f68a1e 100%);
  border: 2px solid #de7c1b;
  font-weight: 700;
  color: #fff;
  font-size: 1rem;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.35);
  line-break: 23px;
}
header .hero_button {
  border: 2px solid #fff;
}
/* Media Queries */
@media screen and (max-width:575px) {
  .hero_sidenav {padding: 3rem 0rem !important;}
  .hero_sidenav a {font-size: 1rem;}
}
@media screen and (max-width:991px) {
  .hero_info .hero_column {margin-bottom: 90px;}
  .hero_column {margin-bottom: 30px;}
  .hero_select {width: 100%;}
  .hero_section .hero_button {width: 100%;}
  .hero_navbar_menu {display: none;}
  .hero_sidenav {
      height: 90%;
      width: 0;
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      background-color: #fbbb12;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cg fill='%23faaf15'%3E%3Cpolygon points='1000%2C-50 0%2C-50 500%2C450'/%3E%3Cpolygon points='550%2C500 1050%2C1000 1050%2C0'/%3E%3Cpolygon points='-50%2C0 -50%2C1000 450%2C500'/%3E%3Cpolygon points='0%2C1050 1000%2C1050 500%2C550'/%3E%3C/g%3E%3Cg fill='%23f9a318'%3E%3Cpolygon points='1000%2C-133.3 0%2C-133.3 500%2C366.7'/%3E%3Cpolygon points='633.3%2C500 1133.3%2C1000 1133.3%2C0'/%3E%3Cpolygon points='-133.3%2C0 -133.3%2C1000 366.7%2C500'/%3E%3Cpolygon points='0%2C1133.3 1000%2C1133.3 500%2C633.3'/%3E%3C/g%3E%3Cg fill='%23f7961b'%3E%3Cpolygon points='1000%2C-216.7 0%2C-216.7 500%2C283.3'/%3E%3Cpolygon points='716.7%2C500 1216.7%2C1000 1216.7%2C0'/%3E%3Cpolygon points='-216.7%2C0 -216.7%2C1000 283.3%2C500'/%3E%3Cpolygon points='0%2C1216.7 1000%2C1216.7 500%2C716.7'/%3E%3C/g%3E%3Cg fill='%23f68a1e'%3E%3Cpolygon points='1000%2C-300 0%2C-300 500%2C200'/%3E%3Cpolygon points='800%2C500 1300%2C1000 1300%2C0'/%3E%3Cpolygon points='-300%2C0 -300%2C1000 200%2C500'/%3E%3Cpolygon points='0%2C1300 1000%2C1300 500%2C800'/%3E%3C/g%3E%3Cg fill-opacity='0'%3E%3Cpolygon fill='%23df9210' points='0%2C707.1 0%2C292.9 292.9%2C0 707.1%2C0 1000%2C292.9 1000%2C707.1 707.1%2C1000 292.9%2C1000'/%3E%3Cg fill='%23e59014'%3E%3Cpolygon points='464.6%2C-242.5 -242.5%2C464.6 464.6%2C464.6'/%3E%3Cpolygon points='535.4%2C464.6 1242.5%2C464.6 535.4%2C-242.5'/%3E%3Cpolygon points='-242.5%2C535.4 464.6%2C1242.5 464.6%2C535.4'/%3E%3Cpolygon points='535.4%2C1242.5 1242.5%2C535.4 535.4%2C535.4'/%3E%3C/g%3E%3Cg fill='%23eb8e17'%3E%3Cpolygon points='405.7%2C-301.4 -301.4%2C405.7 405.7%2C405.7'/%3E%3Cpolygon points='594.3%2C405.7 1301.4%2C405.7 594.3%2C-301.4'/%3E%3Cpolygon points='-301.4%2C594.3 405.7%2C1301.4 405.7%2C594.3'/%3E%3Cpolygon points='594.3%2C1301.4 1301.4%2C594.3 594.3%2C594.3'/%3E%3C/g%3E%3Cg fill='%23f08c1b'%3E%3Cpolygon points='346.8%2C-360.3 -360.3%2C346.8 346.8%2C346.8'/%3E%3Cpolygon points='653.2%2C346.8 1360.3%2C346.8 653.2%2C-360.3'/%3E%3Cpolygon points='-360.3%2C653.2 346.8%2C1360.3 346.8%2C653.2'/%3E%3Cpolygon points='653.2%2C1360.3 1360.3%2C653.2 653.2%2C653.2'/%3E%3C/g%3E%3Cg fill='%23f68a1e'%3E%3Cpolygon points='287.9%2C-419.2 -419.2%2C287.9 287.9%2C287.9'/%3E%3Cpolygon points='712.1%2C287.9 1419.2%2C287.9 712.1%2C-419.2'/%3E%3Cpolygon points='-419.2%2C712.1 287.9%2C1419.2 287.9%2C712.1'/%3E%3Cpolygon points='712.1%2C1419.2 1419.2%2C712.1 712.1%2C712.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      overflow-x: hidden;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      padding: 5rem 0rem;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  }
  .hero_navbar_menu-link::before, .hero_navbar_menu-link::after {
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
  }
  .hero_navbar_menu-link::before {
      bottom: 0;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
  }
  .hero_navbar_menu-link::after {
      top: 0;
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%);
  }
  .hero_navbar_menu-link:hover::before, .hero_navbar_menu-link:hover::after {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
  }
  .hero_sidenav a {
      padding: 1rem .5rem 1rem;
      color: #fff;
      display: block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      font-weight: 900;
  }
  .hero_sidenav a:hover:not(:first-child) {
      background: rgba(255, 255, 255, 0.2);
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
  }
  .hero_sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 2rem;
  }
  .menu-toggler {
      display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      margin-right: 1rem;
      font-size: 2rem;
      font-weight: 900;
      line-height: 22px;
      white-space: nowrap;
      cursor: pointer;
      text-transform: uppercase;
      color: #fff;
  }
  .sr-only {position: absolute;
      clip:rect(1px 1px 1px 1px);
  }

}
@media screen and (min-width:576px) {
    .hero_container {
        max-width: 540px;
    }
}
@media screen and (min-width:768px) {
  .hero_container {
      max-width: 720px;
  }
}
@media screen and (min-width:992px) {
  .hero_container {
      max-width: 960px;
  }
  .col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .col-4 svg {margin-top: -30px;}
  .hero_sidenav {display: none;}
  .menu-toggler {display: none;}
  #zestar.hero_column::before {
    position: absolute;
    top: -50px;
    content: "";
    background: #fff;
    height: 50px;
    width: 100%;
    left: 0;
  }
  #zestar.hero_column::after {
    position: absolute;
    bottom: -30px;
    content: "";
    background: #fff;
    height: 30px;
    width: 100%;
    left: 0;
  }
}
@media screen and (min-width:1200px) {
  .hero_container {
      max-width: 1140px;
  }
}
